@import url('https://fonts.googleapis.com/css?family=Baloo|Comfortaa:700|Passion+One&display=swap');

/* Navigation Bar */
.topnav {
	background-color: rgb(61, 61, 61);
	overflow: hidden;
}

.topnav a {
	font-size: 25px;
	color: white;
	float: left;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-family: "baloo";
}

.topnav a:hover {
	background-color: rgb(200, 200, 200);
	color: black;
}

.topnav a.active {
	background-color: rgb(200, 200, 200);
	color: black;
}


/* Title */
.title {
	text-align: center;
	font-family: "comfortaa";
	font-size: 50px;
}


/* Subtitle */
.subtitle {
	font-family: "passion one";
	font-size: 32px;
	text-align: center;
}