@import url('https://fonts.googleapis.com/css?family=Comfortaa|Passion+One|Press+Start+2P|Share+Tech+Mono|Baloo&display=swap');


/* Navigation Bar */
.topnav {
	background-color: #ad2c23;
	overflow: hidden;
	font-family: "press start 2p";
}

.topnav h1 {
	color: white;
	padding-left: 15px;
	font-size: 40px;
}

.topnav a {
	font-size: 20px;
	float: left;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	color: white;
}

.topnav a:hover {
	background-color: rgb(200, 200, 200);
	color: black;
}

.topnav a.active {
	background-color: rgb(200, 200, 200);
	color: black;
}


/* Title and subtitle */
.title {
	text-align: center;
	font-family: "comfortaa";
	font-size: 50px;
}

.subtitle {
	font-family: "passion one";
	font-size: 32px;
	text-align: center;
}


/* Main Body */
.main-body {
	font-family: "baloo";
	font-size: 25px;
}

.main-body a {
	text-decoration-line: none;
	color: #000000;
	font-family: "Share tech mono";
}
